<div class="container text-center col-md-4">
    <h1 class="h3 mb-3 font-weight-normal">Sign In</h1>
    <form class="form-floating" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
        <div class="form-floating mb-1">
            <input type="email" formControlName="email" class="form-control " id="email" placeholder="name@example.com" autofocus 
                [ngClass]="{'is-valid': isSubmitted && validateControl('email'), 'is-invalid': isSubmitted && !validateControl('email') }">
            <label for="email">Email address</label>
            <div class="invalid-feedback">
                Please enter a email.
            </div> 
        </div>
        <div class="form-floating mb-3">
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" 
                [ngClass]="{'is-valid': isSubmitted && validateControl('password'), 'is-invalid': isSubmitted && !validateControl('password') }">
            <label for="password">Password</label>
            <div class="invalid-feedback">
                Password is required.
            </div>
        </div>
        <div class="d-grid mb-3">
            <button type="submit" class="btn btn-lg btn-primary">Login</button>
        </div>
    </form>
    <a class="link-primary text-decoration-none" [routerLink]="['/authentication/register']">Don't have an account? Sign up</a>
</div>