<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-success mb-2">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">AgentAssistant</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ng-container *ngIf='isUserAuthenticated'>
          <ul class="navbar-nav me-auto">
            <li class="nav-item" [routerLinkActive]="['active']"
              [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link" [routerLink]="['/dashboard']">Dashboard</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['/vault']">Vault</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
              <a class="nav-link" [routerLink]="['/statement']">Statement</a>
            </li>
          </ul>
        </ng-container>
        
        <ul class="navbar-nav ms-auto">
          <ng-container *ngIf='!isUserAuthenticated'>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/authentication/login']" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/authentication/register']" routerLinkActive="active" 
                [routerLinkActiveOptions]="{exact: true}">Register</a>
            </li>
          </ng-container>
          <ng-container *ngIf='isUserAuthenticated'>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Agent
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" [routerLink]="['/user/setting']">Setting</a></li>
                <li><div class="dropdown-divider"></div></li>
                <li><a class="dropdown-item" [routerLink]="" (click)="logout()">Logout</a></li>
              </ul>
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </nav>
</header>
