<div class="card">
  <h5 class="card-header">Reports</h5>
  <div class="card-body">
    <div class="form-group col-md-6 mb-2">
      <form class="form-floating">
        <input type="month" [value]="date | date:'yyyy-MM'" id="date" class="form-control" (change)="onChange($event)">
        <label for="date">Select Month</label>
      </form>
    </div>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-light">
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Opening Liquid</th>
            <th scope="col">Opening Cash</th>
            <th scope="col">Closing Liquid</th>
            <th scope="col">Closing Cash</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let vault of vaults">
            <td>{{ vault.date | date }}</td>
            <td>{{ vault.openingLiquidMoney | currency: "BDT":"symbol": '': 'bn' }}</td>
            <td>{{ vault.openingCashMoney | currency: "BDT":"symbol": '': 'bn' }}</td>
            <td>{{ vault.closingLiquidMoney | currency: "BDT":"symbol": '': 'bn' }}</td>
            <td>{{ vault.closingCashMoney | currency: "BDT":"symbol": '': 'bn' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
