<div class="container">
    <form class="container" [formGroup]="voltForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="date" class="form-label">Date</label>
            <input type="date" id="date" class="form-control" formControlName="date">
        </div>
        <div class="mb-3">
            <label for="openingLiquidMoney" class="form-label">Opening Liquid Money</label>
            <input type="text" id="openingLiquidMoney" class="form-control" formControlName="openingLiquidMoney">
        </div>
        
        <div class="mb-3">
            <label for="openingCashMoney" class="form-label">Opening Cash Money</label>
            <input type="tel" id="openingCashMoney" class="form-control" formControlName="openingCashMoney">
        </div>
    
        <div class="mb-3">
            <label for="closingLiquidMoney" class="form-label">Closing Liquid Money</label>
            <input type="text" id="closingLiquidMoney" class="form-control" formControlName="closingLiquidMoney">
        </div>
        
        <div class="mb-3">
            <label for="closingCashMoney" class="form-label">Closing Cash Money</label>
            <input type="tel" id="closingCashMoney" class="form-control" formControlName="closingCashMoney">
        </div>
        <button type="submit" [disabled]="!voltForm.valid" class="btn btn-primary">Submit</button>
    </form>
</div>
