<div class="container text-center col-md-4">
    <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>

        <form [formGroup]="registerForm" autocomplete="off" novalidate (ngSubmit)="onSubmit()">
            <div class="form-floating mb-1">
                <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="First Name"/>
                <label for="firstName">First name</label>
            </div>
            <div class="form-floating mb-1">
                <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Last Name"/>
                <label for="lastName">Last name</label>
            </div>
            <div class="form-floating mb-1">
                <input type="email" formControlName="email" class="form-control " id="email" placeholder="name@example.com" 
                    [ngClass]="{'is-valid': isSubmitted && validateControl('email'), 'is-invalid': isSubmitted && !validateControl('email') }">
                <label for="email">Email address</label>
                <div class="invalid-feedback">
                    Please enter a email.
                </div> 
            </div>
            <div class="form-floating mb-1">
                <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password" 
                    [ngClass]="{'is-valid': isSubmitted && validateControl('password'), 'is-invalid': isSubmitted && !validateControl('password') }">
                <label for="password">Password</label>
                <div class="invalid-feedback">
                    Password is required.
                </div>
            </div>
            <div class="form-floating mb-2">
                <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm Password" 
                    [ngClass]="{'is-valid': isSubmitted && validateControl('confirmPassword'), 'is-invalid': isSubmitted && !validateControl('confirmPassword') }">
                    <label for="confirmPassword">Confirm Password</label>
                <div class="invalid-feedback">
                    Password must match
                </div>
            </div>
            
            <div class="d-grid mb-3">
                <button type="submit" class="btn btn-lg btn-primary">Register</button>
            </div>
        </form>
        <a class="link-primary text-decoration-none" [routerLink]="['/authentication/login']">Already have an account? Sign in</a>
</div>